

{% block body %}

<div id="graf" class="card graficscard">
                      <h1 class="habilidades">Habilidades </h1>
                      <div class="container-fluid gfc">

                        <div class="row piano">
                            <span class="atividadebox">
                                <div class="atividade">PYTHON</div>
                            </span>
                            <div class="SkillBar">
                            <div id="Skill-PYTHON">
                            <span class="PercentText ">85%</span>
                            </div>
                            </div>
                         </div>
                        <div class="row piano">
    <span class="atividadebox"
    ><div class="atividade">HTML</div></span>
                      <div class="SkillBar">
    <div id="Skill-HTML">
      <span class="PercentText ">90%</span>
    </div>
  </div>
     </div>
                        <div class="row piano">
    <span class="atividadebox"><div class="atividade">CSS/CSS3</div></span>
  <div class="SkillBar">
    <div id="Skill-CSS">
      <span class="PercentText ">75%</span>
    </div>
  </div>  </div>
                        <div class="row piano">
    <span class="atividadebox">
        <div class="atividade">jQuery</div>
    </span>
  <div class="SkillBar">
    <div id="Skill-jQuery">
      <span class="PercentText ">40%</span>
    </div>
  </div>
      </div>
                        <div class="row piano">
    <span class="atividadebox"><div class="atividade">Javascript</div></span>
  <div class="SkillBar">
    <div id="Skill-JS">
      <span class="PercentText ">65%</span>
    </div>
  </div>
    </div>
                        <div class="row piano">
    <span class="atividadebox"><div class="atividade">SQL</div></span>
    <div class="SkillBar">
    <div id="Skill-SQL">
      <span class="PercentText ">80%</span>
    </div>
  </div>
 </div>
                        <div class="row piano">
    <span class="atividadebox"><div class="atividade">UI Design</div></span>
    <div class="SkillBar">
    <div id="Skill-PHP">
      <span class="PercentText ">65%</span>
    </div>
  </div>
      </div>
                        <div class="row piano">
    <span class="atividadebox"><div class="atividade">PHOTOSHOP</div></span>
                      <div class="SkillBar">
    <div id="Skill-VBNET">
      <span class="PercentText ">90%</span>
    </div>
  </div>
                           </div>
                        <div class="row piano">
    <span class="atividadebox"><div class="atividade">ILUSTRATOR</div></span>
                      <div class="SkillBar">
    <div id="Skill-ILUSTRATOR">
      <span class="PercentText ">85%</span>
    </div>
  </div>
                          </div>
                        <div class="row piano">
    <span class="atividadebox"><div class="atividade">LOGIC PRO</div></span>
                      <div class="SkillBar">
    <div id="Skill-AUDIO">
      <span class="PercentText ">80%</span>
    </div>
  </div>
                   </div>
                        <div class="row piano">
    <span class="atividadebox"><div class="atividade">PREMIERE</div></span>
                      <div class="SkillBar">
    <div id="Skill-ADOBE">
      <span class="PercentText ">75%</span>
    </div>
  </div>
                            </div>
                      </div>
                      <div class="container-fluid tag">
                          <div class="row icoooo">
                              <div class="col icon">
                                  <i class="mdi mdi-speedometer"></i>
                                  <h5>FASTER</h5>
                                  <p>Fast load times and lag free interaction, my highest priority.</p>
                              </div>
                              <div class="col icon">
                                  <i class="mdi mdi-cellphone-link"></i>
                                  <h5>INTUITIVE</h5>
                                  <p>Strong preference for easy to use, intuitive UX/UI.</p>
                              </div>
                              <div class="col icon">
                                  <i class="mdi mdi-lightbulb-outline"></i>
                                  <h5>CREATIVE</h5>
                                  <p>My layouts will work on any device, big or small.</p>
                              </div>
                              <div class="col icon">
                                  <i class="mdi mdi-rocket"></i>
                                  <h5>DYNAMIC</h5>
                                  <p>Websites don't have to be static, I love making pages come to life.</p>
                              </div>
                          </div>
                      </div>
                  </div>

{% endblock %}