{% block body %}
<style>
    #portifolio {

  text-align: center;
  BACKGROUND:#F2F2F2;

}
.section-white{
height:auto;}

#portifolio h2 {
font-family: 'Fjalla One', sans-serif;
font-size:40px;
color:#E31B6D;
padding-bottom:17px;
margin: 0 auto;
text-shadow: 1px 1px rgba(0,0,0,0.2);
padding-top:10px;
}

.nav-tabs {
background:none;
  width: 100%;
}

.nav-tabs a{
color:#C0C0C0;
font: bold 0.7em/100% Raleway;

}



#pills-tabContent{
height:auto;
margin:0 auto;
padding:20px;
width:99%;
}

 .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #f2f2f2;
    border-color: #dee2e6 #dee2e6 #f2f2f2;
}


/* width */
#pills-tabContent::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#pills-tabContent::-webkit-scrollbar-track {

  border-radius: 10px;
}

/* Handle */
#pills-tabContent::-webkit-scrollbar-thumb {
  background: #E31B6D;
  border-radius: 10px;
}

/* Handle on hover */
#pills-tabContent::-webkit-scrollbar-thumb:hover {
  background: #E31B6D;
}





.still{
position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;

  height:430px;
  padding:0px;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  margin-bottom:5px;


}


.still img {
  position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: 0 auto;
    height:100%;





}



figure.snip1321 {

   position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 230px;
  height:230px;
  padding:0px;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  margin-bottom:5px;



}


figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}
figure.snip1321 img {
  position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: 0 auto;
    height:100%;



}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
  margin: 0;
}
figure.snip1321 h2 {
  font-weight: 600;
}
figure.snip1321 h4 {
 font: bold 1.6em/100% Raleway;

  text-transform: uppercase;
}
figure.snip1321 i {
  font-size: 39px;
  color:#ff8000;
}
figure.snip1321 p {
   font: bold 0.8em/100% Raleway;
   color:#B0B0B0;

   text-transform: uppercase;
}

figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

#downpage_2{
position:relative;
width:60px;
background:none;
cursor:pointer;
margin:0 auto;
padding:40px;

-webkit-animation: downarrow 0.5s ease-in-out infinite;
			animation: downarrow 0.5s ease-in-out infinite;

}


#downpage_2 a {
color:#E31B6D;
font-size:36px;

}






.modal-title {
font: bold 0.8em Raleway;
    text-align: center;
    margin: 0px;
    font-size: 26pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: 100%;
    color:#ff8000;
}


#tabContent {
 background:#ff8000;
  height: 34px;
  width: 100%;
    text-align: center;


}





@media (max-width: 640px) {
.section-white h2{
font: bold 2.3em/130% Raleway
}


.still img {
  position: relative;

    margin: 0 auto;
height:auto;
    width:100%;

}

.still {


}

}







.portifolio_list{
width:100%;
margin:0 auto;
}

.portifolio_item{
width:100%;
}



ul{
list-style-type:none;}



.nto img{
width: 100%;
-webkit-box-shadow: 0px 11px 15px -8px rgba(0,0,0,0.69);
box-shadow: 0px 11px 15px -8px rgba(0,0,0,0.69);
  cursor: pointer;
  transition: 0.3s;
}

.nto img:hover {opacity: 0.7;}
}



.hidden_box{
width:100%;
height:300px;
overflow:hidden;
display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-bottom:10px;

}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  font-family: 'Fjalla One', sans-serif;
}

/* Modal Content (image) */
.modal-content {
  margin: 30px auto;
  display: block;
  width: 80%;
  max-width: 550px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;

}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 80px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

</style>
	<section class="section-white">
        <div id="portifolio" class="container-fluid">
              <h2>PORTIFÓLIO DIGITAL </h2>
            <ul class="nav nav-tabs justify-content-center mb-3 " id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">DESIGN GRÁFICO</a>
          </li>
        </ul>
            <div class="tab-content " id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        {% for file in files %}
                        <div class="nto col-md-4">
                        <div id="hidden_box" class="hidden_box">
                            <img src="{{ url_for('memory_images', filename=file[8]) }}" alt="Card image cap" id="{{file.0}}" onclick="myFoto(this.id)">
                        </div>
                            <!-- The Modal -->
                            <div id="myModal_{{file.0}}" class="modal">
                                <span class="close" id="close_{{file.0}}" onclick="myClose(this.id)">&times;</span>
                                <div style="color:#fff">
                                <h1>{{file.1}}</h1>
                                </div>
                                <img class="modal-content" src="{{ url_for('memory_images', filename=file[8]) }}">
                                <div id="caption">

                                    <h5>{{file.2}}</h5>
                                    <p>{{file.3}}</p>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <h2>SITES / WEB DEVELOPER </h2>
            <ul class="nav nav-tabs justify-content-center mb-3 " id="pills-tab2" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab2" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">SITES REALIZADOS</a>
          </li>
        </ul>
            <div class="tab-content " id="pills-tabContent2">
                <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="nto col-md-4">
                            <a href="https://criolina.herokuapp.com/" target="_blank">
                                <div class="hidden_box">
                                    <img height="300" src="../static/img/criolina_logo_full.svg" alt="sq-sample26"/>
                                </div>
                            </a>
                        </div>
                        <div class="nto col-md-4">
                            <a href="https://criolina.herokuapp.com/" target="_blank">
                                <div class="hidden_box">
                                    <img height="300" src="../static/img/criolina_logo_full.svg" alt="sq-sample26"/>
                                </div>
                            </a>
                        </div>
                        <div class="nto col-md-4">
                            <a href="https://webscrappingdebetti.herokuapp.com/" target="_blank">
                                <div class="hidden_box">
                                    <img height="300" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQDqSoHQKcN0UIYUtO-H_z0Byhob4EtxK8jSyM4CW0e0fIYmjs_&usqp=CAU" alt="sq-sample26"/>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div id="downpage_2">
                <a>
                    <i class="fas fa-angle-double-down"></i>
                </a>
            </div>
        </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type=text/javascript>


    function myFoto(this_id) {
    var id = this_id;
    var modal = document.getElementById("myModal_"+id);
    modal.style.display = "block";
}




function myClose(this_id) {

var id = this_id.replace('close','myModal');
var modal = document.getElementById(id);
modal.style.display = "none";
}




</script>

{% endblock %}
