{% extends "header.html" %}

{% block body %}

<form id="myFormID"  action="/conferencia-email/" style="padding-top:200px;">
    <div class="form-check">
  <input class="form-check-input" type="checkbox" value="http://www.teste.com.br/1" name="aula1" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Default checkbox
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="http://www.teste.com.br/2" name="aula2" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Checked checkbox
  </label>
    <input type="submit" id="formid" value="MANDAR">
</div>


</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>

$("#myFormID").submit(function(e) {
    e.preventDefault(); // prevent actual form submit
    var form = $(this);
    var url = form.attr('action'); //get submit url [replace url here if desired]
    $.ajax({
         type: "POST",
         url: url,
         data: form.serialize(), // serializes form input
         success: function(data){
             console.log(data);
         }
    });
});


</script>

{% endblock %}






